.gap {
    margin-left: 20px;
 }

 .user-detail {
    margin-right: 20px;
    cursor: pointer;
 }
 .logout {
   cursor: pointer;
 }
 .spacer {
    flex: 1 1;
 }
 .custom-primary {
   background-color: rgb(66, 134, 70);
 }
 .custom-text-color {
   color: black; // Replace 'red' with your desired text color
}
.navbar-bottom {
   background: rgb(237,245,244);
}
