.customer-header {
   position: fixed;
   width: 100vw !important;
   top: 0px !important;
   z-index: 100;
   overflow-y: auto;
   .gap {
      margin-left: 20px;
  }
  .user-detail {
      margin-right: 20px;
      cursor: pointer;
  }
  
  .spacer {
      flex: 1 1;
  }
  .custom-primary {
     background: rgb(100 , 122, 112);
     .logout {
      cursor: pointer;
      margin-right: 20px !important;
   }
  }
  .custom-text-color {
     color: black; // Replace 'red' with your desired text color
  }
  .navbar-bottom {
     background: rgb(237,245,244);
  }
}