/* home.component.scss */
.recruiter-home-wrapper {
    display: flex;
    flex: 1 1;
    margin: 0 10px !important;
  }
  
  .list-job-left {
    width: 40% !important;
    margin: 0 10px !important;
    .space_1 {
      margin-top: 10% !important;
    }
    .space_2 {
      margin-top: 5px !important;
    }
  }
  .detail-job {
    margin: 0 10px !important;
    width: 60% !important;
    
    .space-detail-job-inner {
      margin-top: 10% !important;
    }
  }